.card .btn{
    width: 60px;
    height: 60px;
}

.card{
    transition: transform 0.2s ease;
}

.btn{
    background-color: rgba(255, 255, 255, 0.2);
    border: 0;
}

.crd1:hover, .crd2:hover, .crd3:hover{
    transform: scale(1.03);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.crd2{
    background-color: #10b981;
}

.crd3{
    background-color: #8b5cf6;
}