.nav-link {
    text-decoration: none;
    transition: transform 0.3s ease;
    color: black;
    margin-right: 15px;
}


nav {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-link.active {
    background-color: #0d6efd;
    border-radius: 3;
    color: white; 
    border-color: #0d6efd #0d6efd #fff;
}

.nav-link:hover {
    background-color: #ffff;
    transform: scale(1.1);
    color: black;
}

.page-info >*, .profile-info>*{
    padding: 0;
    margin: 0;
}

.page-info p, .profile-info p{
    font-size: 12px;
    color: gray;
}

.close:hover{
    background-color: white;
    color: black;
}
.divider {
  width: 1px;
  background-color: #cfcfcf;
  margin: 4px;
  margin-left: 20px;
  margin-right: 20px;
}

.exit:hover{
    background-color: red;
    color: white;
}
